*{padding:0; margin:0}
body{background: #ddd;}
.container {
	background: #fff;
	width: 1170px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}
.sidebar {
	float: left;
	width: 25%;
	text-align: center;
	padding: 20px;
	background: #3D3D3D;
	display: block;
	overflow: hidden;
	margin: auto 50px;
}
.sidebar h1 {
	font-family: calibri;
	text-transform: uppercase;
	padding-top: 10px;
	font-size: 25px;
	padding-bottom: 10px;
	background: #FFB300;
	color: #fff;
	margin-top: 20px;
}
.sidebar img {
	width: 70%;
	border-radius: 50%;
}
.sidebar h2 {
	margin-top: 20px;
	margin-bottom: 15px;
	font-family: calibri;
	text-transform: uppercase;
	color: #fff;
}
.sidebar ul {
	list-style: disclosure-closed;
	text-align: left;
	padding-left: 25px;
}
.sidebar ul li {
	padding-bottom: 20px;
	font-family: calibri;
	text-transform: uppercase;
	font-size: 17px;
	color: #fff;
}
.navbar {
	float: left;
	width: 26%;
}
.navbar img {
	height: 45px;
	width: 40px;
	padding: 20px 0px 15px 0px;
	border-radius: 0;
}
.content {
	float: right;
	width: 70%;
}
.content p {
	padding: 36px 0px 21px 0px;
	font-family: calibri;
	font-size: 20px;
	color: #fff;
	text-align: left:
}
.rightside {
	float: left;
	width: 60%;
	text-align: center;
}
.rightside h1 {
	font-family: calibri;
	color: #3F3B3A;
	font-size: 50px;
	border: 3px solid;
	margin-top: 60px;
	text-transform: uppercase;
}
.rightside h3 {
	margin-top: 15px;
	font-family: calibri;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	margin-bottom: 50px;
}
.rightside h4 {
	text-align: left;
	font-family: calibri;
	text-transform: uppercase;
	color: #3F3B3A;
	font-size: 17px;
	letter-spacing: 3px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.rightside h2 {
	font-family: calibri;
	text-transform: uppercase;
	color: #3F3B3A;
	letter-spacing: 3px;
	margin-bottom: 10px;
	background: #FFB300;
}
.rightside p {
	color: #3F3B3A;
	font-family: calibri;
	letter-spacing: 2px;
	text-align: justify;
	font-size: 17px;
	margin-bottom: 30px;
	padding-left: 20px;
}
.rightside ul {
	list-style: disclosure-closed;
}
.rightside ul li {
	padding-bottom: 15px;
	letter-spacing: 3px;
	text-align: justify;
	font-family: calibri;
	font-size: 17px;
	color: #3F3B3A;
	margin-left: 50px;
}
.education h1 {
	background: #FFB300;
	margin-top: 390px;
}
.education p {
	color: #fff;
	margin-top: 15px;
	font-family: calibri;
	font-size: 18px;
	letter-spacing: 2px;
}
